.keywords-in-context .match-with-context .before {
  color: blue;
}

.keywords-in-context .match-with-context .match {
  color: red;
}

.keywords-in-context .match-with-context .after {
  color: green;
}
